{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li></li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<body style="background-color:rgb(206, 206, 206);"></body>
<div>
    <h2> Log In </h2>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username" />

        <label>Password:</label>
        <input type="text" name="password" placeholder="Enter Password" />

        <input type="submit" value="Login" />
    </form>
</div>

<p> Haven't signed up yet?</p>
    <a href="{% url 'signup' %}" style="color:rgb(32, 178, 170)">Sign up</a>