.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.ProfileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;

}

.ProfileHeader .banner .bannerImg {
    width: 1200px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    
}

.ProfileHeader .header {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #606160;
}


.ProfileHeader .header .proPicImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
}

.ProfileHeader .header .headerInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    margin-left: 50px;
}

.ProfileHeader .header .headerInfo .userName {
    color: #2cc47d;
    font-size: 35px;
    font-weight: bold;
}

.ProfileHeader .header .headerInfo .followerNum {
    font-size: 20px;
}

.ProfileHeader .header .editProfileBtn {
    margin-top: 55px;
    background-color: #2cc47d;
    color: white;
    padding: 13px 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    text-decoration: none;
}

.ProfileHeader .profileNavBar {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}

.ProfileHeader .profileNavBar .navBtn {
    margin: 10px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    border-style: none;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    text-decoration: none;
}

.ProfileHeader .profileNavBar .navBtn:hover {
    border-bottom: 5px solid #2cc47d;
    color: #2cc47d;
    transition: 0.3s;
}

.ProfileHeader .profileNavBar .navBtn:focus {
    border-bottom: 5px solid #2cc47d;
    color: #2cc47d;
}

.Profile #postBody {
    list-style-type: none;
}