.EditProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.EditProfile .filds {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.EditProfile h1 {
    color: #2cc47d;
    font-size: 30px;
}

.EditProfile .changeEmail {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.EditProfile .changeUserName {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.EditProfile .ChangePassword {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.EditProfile .confirmPassword {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.EditProfile h2 {
    padding-top: 40px;
    padding-right: 30px;
    color: white;
    font-size: 16px;
}

.EditProfile input[type=text]  {
    padding: 10px 100px 10px 15px;
    margin-top: auto;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #606160;
    color: white;
}



.EditProfile .changeBtn {
    background-color: #2cc47d;
    color: white;
    padding: 10px 50px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}